extends ../layout
block content
    article.post
        h2.post_title
            | #{post.title}
        .post_content
            aside
                img.post_image(src="#{post.image}")
                .post_metadata
                    p
                        | Author: #{post.author}
                    p
                        | Date: #{post.date}
                    p
                        | Categories: #{post.categories.join(', ')}
            main
                | !{post.rendered}
        include comments
block css
    link(rel="stylesheet", href="../assets/css/libs.css")
block javascript
    script(src="../assets/js/libs.js")
