doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="#{description}")
    meta(name="keywords", content="#{keywords}")
    meta(name="author", content="#{author}")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    title
        | #{title}
    link(rel='stylesheet', href='../assets/css/style.css')
    <script src="//use.typekit.net/nge2vbr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    body
        .container
            block header
            block content
            block footer
                footer
                    p.copyrights
                        | copyright AKLP.gr &copy; #{new Date().getFullYear()}
